html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body{
  background-color : #000;
  font-size: 2vw;
  color : white;
  font-family: 'Sunflower', sans-serif;
}

#fbIcon:hover{
  width : 15vh;
  transition: 0.5s;
}

#igIcon:hover{
  width : 15vh;
  transition: 0.5s;
}

.carousel{
  width: 98vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 5vh;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(255,255,255,0.5);
}

.d-block{
  border-radius: 15px;
}

#ytIcon:hover{
  width : 15vh;
  transition:0.5s;
}

#scIcon:hover{
  width : 15vh;
  transition:0.5s;
}

.socialMedia:hover{
  width : 15vh;
  transition:0.5s;
}

h1{
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  font-size : 5vh;
}

/* SECCIONES DE LA PÁGINA */
#mainMenu{
  background-image: url("IMG/Final/final2.jpg");
  background-size: cover;
  background-position: center;
}
#bio{
  background-image: url("IMG/Final/final1.jpg");
  background-size: cover;
  background-position: center;
}
#actualidad{
  background-image: url("IMG/Final/final3.jpg");
  background-size: cover;
  background-position: center;
}
#discos{
  background-image: url("IMG/Final/final4.jpg");
  background-size: cover;
  background-position: center;
}
#galeria{
  background-image: url("IMG/Final/final5.jpg");
  background-size: cover;
  background-position: center;
}
#videos{
  background-image: url("IMG/Final/final6.jpg");
  background-size: cover;
  background-position: center;
}
/*-------------------------*/

.sideBarButton{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  width: 4.5vw;
  top : 34vh;
  bottom : 0;
  position : relative;
  vertical-align : middle;
  transition: 0.4s;
  padding: 5%;
}

.sideBarButton:hover{
  transform: scale(1.4,1.4);
  transition: 0.2s;
  background: rgba(255,153,51,0.25);
}


.sideBar {
  height: 100%;
  width: 10%;
  position: fixed;
  top: 0;
  right: 0;
}

.main{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14vh;
  position:relative;
}

.hexButton:hover{
  transform: scale(1.15,1.15);
  transition: 0.2s;
}

/* SPECIFIC WINDOW SIZE STUFF*/

/* ON PC --------------------------------------------------------------------------------*/

@media (max-width : 1000px){
    .sideBarButton{
      display: none;
    }
  }

  .iconImage{
    width : 16vw;
    position: absolute;
  }

.pageSection{
  width : 100vw;
  height : 100vh;
  padding : 10vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position : relative;
}

#mainImage{
  width: 28vw;
  transform:scale(2,2);
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition : 1s;
}

#fbIcon{
  width : 10vh;
  bottom: 3%;
  left: 2%;
  position: absolute;
  transition: 0.5s;
}

#igIcon{
  width : 10vh;
  bottom: 15%;
  left: 2%;
  position: absolute;
  transition: 0.5s;
}

#ytIcon{
  width : 10vh;
  bottom: 27%;
  left: 2%;
  position: absolute;
  transition: 0.5s;
}

#scIcon{
  width : 10vh;
  bottom: 39%;
  left: 2%;
  position: absolute;
  transition: 0.5s;
}

.hexButton{
  position: absolute;
  width: 16vw;
  display: block;
  transition: 0.5s;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hexText{
  text-align: center;
  margin-top: -4vh;
  font-family: 'Oswald', sans-serif;
  text-shadow: 0px 0px 15px rgba(255,255,255,0.4);
}



/*BOTTOM BUTTOM*/
#discoButton{
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
  left: 0;
  right: 0;
  position: absolute;

}

/*BOTTOM RIGHT BUTTOM*/
#fotoButton{
  margin-left: auto;
  margin-right: 21%;
  margin-top: -10%;
  left: 0;
  right: 0;
  position: absolute;
}

/*BOTTOM LEFT BUTTON*/
#bioButton{
  margin-left: 21%;
  margin-right: auto;
  margin-top: -10%;
  left: 0;
  right: 0;
  position: absolute;
}

/*TOP RIGHT BUTTON*/
#videoButton{
  margin-left: auto;
  margin-right: 14%;
  margin-top: -28%;
  left: 0;
  right: 0;
  position: absolute;
}

/*TOP LEFT BUTTON*/
#inicioButton{
  margin-left: 14%;
  margin-right: auto;
  margin-top: -28%;
  left: 0;
  right: 0;
  position: absolute;
}

/* ON MOBIILE ------------------------------------------------------------------------------------------*/
@media (max-aspect-ratio: 1/1){

  .sideBarButton{
    display: none;
  }

  .pageSection{
    width : 98vw;
    height : 98vh;
    padding : 3vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position : relative;
  }

  #mainImage{
    width: 28vh;
    transform:scale(2.5,2.5);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position:absolute;
    transition : 1s;
  }

  #fbIcon{
    width : 9vh;
    bottom: 1%;
    right: 2%;
    left: 0;
    position: absolute;
    transition: 0.5s;
    margin-left: auto;
    margin-right: 1;
  }

  #igIcon{
    width : 9vh;
    bottom: 12%;
    right: 2%;
    left: 0;
    position: absolute;
    transition: 0.5s;
    margin-left: auto;
    margin-right: 1;
  }

  #ytIcon{
    width : 9vh;
    bottom: 23%;
    right: 2%;
    left: 0;
    position: absolute;
    transition: 0.5s;
    margin-left: auto;
    margin-right: 1;
  }

  #scIcon{
    width : 9vh;
    bottom: 34%;
    right: 2%;
    left: 0;
    position: absolute;
    transition: 0.5s;
    margin-left: auto;
    margin-right: 1;
  }

  .hexButton{
    width: 15vh;
    display: block;
    transition: 0.5s;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .iconImage{
    width : 15vh;
    position: absolute;
  }


  .hexText{
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    margin-left: 120%;
    margin-top: 5vh;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 0px 15px rgba(255,255,255,0.4);
  }

  /*BUTTON 1*/
  #inicioButton{
    position: absolute;
    margin-top: 25vh;
    margin-left: 5vw;
  }

  /*BUTTON 2*/
  #bioButton{
    position: absolute;
    margin-top: 38vh;
    margin-left: 5vw;
  }

  /*BUTTON 3*/
  #discoButton{
    position: absolute;
    margin-top: 51vh;
    margin-left: 5vw;
  }

  /*BUTTON 4*/
  #fotoButton{
    position: absolute;
    margin-top: 64vh;
    margin-left: 5vw;
  }

  /*BUTTON 5*/
  #videoButton{
    position: absolute;
    margin-top: 77vh;
    margin-left: 5vw;
  }
}


img.hexButton{
  content:url("IMG/UI/hexGeneric.png");
}

img.hexButton:hover{
  content:url("IMG/UI/hexGeneric2.png");
}
